<div class="stories">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
          <h1>Stories</h1>

          <% @stories.each do |story| %>
            <p>
              <%= link_to(story.title, story.url, target: "_blank") %> - <%= link_to("read and comment post", story) %>
            </p>

          <% end %>
        </div>
      </div>
    </div>
</div>
